@media all and (min-width: 601px) {
    @font-face {
        font-family: "General Sans Medium";
        src: url("GeneralSans-Medium.woff");
    }
    
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin-left: 50px;
        margin-top: 35px;
        background-color: #196cd8;
        color: antiquewhite;
        cursor: url('imgs/cursor2.png'), auto;
        min-height: 890px;
    }
    
    h1{
        font-family: "sutturah", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 90px;
        margin: 0px;
        color: #ffa591;
    }

    .rae{
        width: 100%;
    }

    h2{
        font-family: "General Sans Medium", sans-serif;
        margin: 0px;  
        font-size: 25px; 
    }

    h3{
        font-family: "General Sans Medium", sans-serif;
        font-size: 45px;
    }

    .link{
        font-family: "General Sans Medium", sans-serif;
        font-size: 45px;     
        color: antiquewhite;   
        line-height: 125%;
        width: fit-content;
        text-decoration: none;
        cursor: pointer;
    }

    .link:hover{
        font-family: "General Sans Medium", sans-serif;
        font-style: italic;
        font-size: 46px;
        text-decoration: underline;
        transition: 60ms ease-in-out;
        color: inherit;
    }
}

@media all and (max-width: 600px) {
    @font-face {
        font-family: "General Sans Medium";
        src: url("GeneralSans-Medium.woff");
    }
    
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        color: #fffaf3;
        background-color: #ff0066;
        cursor: url('imgs/cursor2.png'), auto;
    }    
    
    h1{
        font-family: "sutturah", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 55px;
        border: 0px;
        text-align: center;
        margin: 0px;
        color: #a8ffa8;
    }

    h2{
        font-family: "General Sans Medium", sans-serif;
        font-size: large;
        margin: 0px; 
        text-align: center;
        color: #fffaf1;   
    }

    .link{
        font-family: "General Sans Medium", sans-serif;
        font-size: 30px;     
        color: #fffaf1;   
        text-decoration: underline;
    }
}