@media all and (min-width: 601px) {

  @font-face {
    font-family: "General Sans Medium";
    src: url('fonts/GeneralSans-Medium.woff2') format('woff2');
  }

  html{
    cursor: url('sources/cursor2.png'), auto;
  }

  body{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
  }

  #outer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100vw;
  }

  .column{
    width: 16.666666666666667vw;
    height: 97vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 0px;
    /* border-right: 1px #434343 solid; */
  }

  .h1square, .h2square, .min1square, .min2square, .sec1square, .sec2square{
    width: 2.66vw;
    height: 2.66vw;
  }

  .filled{
    background-color: #000000;
    width: 2.66vw;
    height: 2.66vw;
    transition: 0.2s ease;
  }

  #timeHere{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  #about{
    font-family: "General Sans Medium", sans-serif;
    color: white;
    font-size: 23px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0.5px white solid;
    z-index: 1000;
    position: absolute;
    width: 50%;
    top: 25%;
    left: 20%;
    padding: 5%;
    transition: 0.3s ease;
    display: block;
  }

  .disappear{
    opacity: 0;
    transition: 0.3s ease;
  }

  .appear{
    opacity: 1;
    transition: 0.3s ease;
  }

  #button{
    color: rgb(0, 0, 0);
    font-family: helvetica, sans-serif;
    font-weight: 700;
    font-size: 45px;
    position: absolute;
    right: 5px;
    bottom: 25px;
    cursor: pointer;
    width: 35px;
    height: 3%;
  }

  .vl{
    border-right: 1px solid #636363;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9998;
  }

  #line1{
    border-right: 1px solid #636363;
    left: 16.666666666666667vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  #line2{
    border-right: 1px solid #636363;
    left: 33.33333333333334vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  #line3{
    border-right: 1px solid #636363;
    left: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  #line4{
    border-right: 1px solid #636363;
    left: 66.66666666666668vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  #line5{
    border-right: 1px solid #636363;
    left: 83.33333333333335vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  #line6{
    border-right: 1px solid #636363;
    left: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
  }


}

@media all and (max-width: 600px) {
  @font-face {
    font-family: "General Sans Medium";
    src: url('fonts/GeneralSans-Medium.woff2') format('woff2');
  }
  
  html{
    cursor: url('sources/cursor2.png'), auto;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
  }
  
  #outer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100vw;
  }
  
  .column{
    width: 16.666666666666667vw;
    height: 97vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
    /* border-right: 1px #434343 solid; */
  }
  
  .h1square, .h2square, .min1square, .min2square, .sec1square, .sec2square{
    width: 2.66vw;
    height: 2.66vw;
  }
  
  .filled{
    background-color: #000000;
    width: 2.66vw;
    height: 2.66vw;
    transition: 0.2s ease;
  }
  
  #timeHere{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  #about{
    font-family: "General Sans Medium", sans-serif;
    color: white;
    font-size: 16px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0.5px white solid;
    z-index: 1000;
    position: absolute;
    width: 55%;
    top: 17%;
    left: 17%;
    padding: 5%;
    transition: 0.3s ease;
    display: block;
  }
  
  .disappear{
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .appear{
    opacity: 1;
    transition: 0.3s ease;
  }
  
  #button{
    color: rgb(0, 0, 0);
    font-family: helvetica, sans-serif;
    font-weight: 700;
    font-size: 45px;
    position: absolute;
    right: 3px;
    bottom: 35px;
    cursor: pointer;
    width: 35px;
    height: 3%;
  }
}