@media all and (min-width: 801px) {
body{
    background-image: url(imgs/background.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: left top;
    text-align: left;
    padding: 0px;
    padding-top: 25px;
    cursor: url('imgs/cursor.png'), auto;
}

.whole{
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
}

h2{
   text-align: left;
   padding-left: 25px;
}

.intro{
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding-left: 25px;
}

img{
    width: 32%;
    margin: 10px;
}

.blurb{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #00ffe1;
    font-size: 20px;
    padding-right: 25px;
}

p{
    width: 30%;
    text-align: left;
    font-size: 17px;
    color: white;
}

.api{
    font-family: 'Jubilat', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}

.sub{
    font-family: 'Jubilat', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: goldenrod;
}

.end{
    color: white;
    width: 30ch;
    text-align: left;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 25px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-left: 0px;
}

.concrete{
    color: #cf0000;
    padding: 25px;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    text-align: justify;
    width: 35ch;
}

.manifesto{
    font-family: 'Courier', monospace;
    font-style: bold;
    color: black;
    padding-left: 25px;
    text-align: justify;
    width: 40ch;
}

.dining{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    width: 37ch;
    color: #ffffff;
    padding-left: 25px;
    line-height: 1.25;
    font-size: 18px;
}

.back{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    padding-left: 0px;
    font-family: "league-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2.5px;
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: url('imgs/cursor.png'), auto;
}

.back:hover {
    text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
    transition: 0.5s ease;
}
}

@media all and (max-width: 800px) {
    body{
        background-image: url(imgs/background.jpg);
        background-repeat: repeat;
        background-size: auto 100%;
        background-position: left top;
        text-align: left;
        padding: 0px;
        padding-top: 25px;
        cursor: url('imgs/cursor.png'), auto;
        overflow-x: hidden;
        height: fit-content;
    }
    
    .whole{
        transform: translateY(500px);
        -webkit-transform: translateY(500px);
    }

    h2{
       text-align: left;
       padding-left: 10px;
       width: 30%;
    }
    
    .intro{
        color: white;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
        padding-left: 10px;
        font-size: 16px;
    }
    
    img{
        width: 30%;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .blurb{
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        color: #00ffe1;
        font-size: 16px;
        padding-right: 25px;
    }
    
    p{
        width: 50ch;
        text-align: left;
        font-size: 15px;
        color: white;
    }
    
    .api{
        font-family: 'Jubilat', serif;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }
    
    .sub{
        font-family: 'Jubilat', serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    h1{
        margin-top: 0px;
        margin-bottom: 0px;
        color: goldenrod;
        font-size: 30px;
    }
    
    .end{
        color: white;
        width: 30ch;
        text-align: left;
        font-family: "neuzeit-grotesk", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-left: 25px;
    }
    
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 0px;
    }
    
    .concrete{
        color: #cf0000;
        padding: 25px;
        font-family: "futura-pt", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        text-align: justify;
        width: 30%;
    }
    
    .manifesto{
        font-family: 'Courier', monospace;
        font-style: bold;
        color: black;
        padding-left: 25px;
        text-align: justify;
        width: 30%;
    }
    
    .dining{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        width: 30%;
        color: #ffffff;
        padding-left: 25px;
        line-height: 1.25;
        font-size: 17px;
    }
    
    .background{
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }

    .back{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 7%;
        padding-left: 0px;
        font-family: "league-gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        letter-spacing: 2.5px;
        color: black;
        text-decoration: none;
        text-align: center;
        cursor: url('imgs/cursor.png'), auto;
    }
}