@media all and (min-width: 501px) {
    body{
        background-color: #fffbf5;
        margin: 30px;
        background-image: url("sources/intro-ezgif.com-speed.gif");
        background-position: center top;
        background-size: 66%;
        background-repeat: no-repeat;
        margin-bottom: 300px;
        overflow-x: hidden;
    }

    h1{
        font-size: 150px;
        text-align: left;
        font-family: clarendon-urw-extra-narrow, serif;
        font-weight: 800;
        font-style: italic;
        -webkit-text-stroke: 8px rgb(255, 255, 255);
        paint-order: stroke fill;
        letter-spacing: -2px;
        position: absolute;
        right: 80px;
        top: -115px;
    }

    .drop1{
        font-family: "r41-alfabeta-16", sans-serif;
        font-weight: 400;
        letter-spacing: 15px;
    }

    #text{
        position: absolute;
        top: 1000px;
        left: 140px;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        width: 35%;
    }

    #back{
        width: 60px;
        position: fixed;
        left: 40px;
        top: 47px;
        z-index: 10000;
        transition: 0.25s ease-in-out;
    }

    #back:hover{
        width: 70px;
        top: 43px;
        left: 37px;
    }

    p{
        text-indent: 50px;
        line-height: 120%;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: justify;
    }

    h2{
        font-size: 70px;
        line-height: 120%;
        width: 100vw;
        -webkit-text-stroke: 0.5px black;
        letter-spacing: -2px;
    }

    #n1{
        color: #f6c4c3;
        margin-left: 0px;
    }

    #n2{
        color: #ed5c63;
        text-align: center;
        margin-left: 370px;
    }

    #n3{
        color: #b51718;
        margin-left: 650px;
    }

    #gif{
        width: 50vw;
        position: absolute;
        right: 40px;
        top: 1410px;
    }

    #cards{
        width: 58vw;
        position: absolute;
        right: -20px;
        top: 2000px;
    }

    #me{
        width: 18vw;
        position: absolute;
        right: 1280px;
        top: 2770px;
        padding-bottom: 80px;
    }

    #bio{
        position: absolute;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        width: 30%;
        top: 2740px;
        left: 500px;
        margin-bottom: 1000px;
    }
}

@media all and (max-width: 500px) {
    body{
        background-color: #fffbf5;
        margin: 30px;
        background-image: url("sources/intro-ezgif.com-speed.gif");
        background-position: left top;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 100px;
        overflow-x: hidden;
    }

    h1{
        font-size: 50px;
        text-align: left;
        font-family: clarendon-urw-extra-narrow, serif;
        font-weight: 800;
        font-style: italic;
        -webkit-text-stroke: 5px rgb(255, 255, 255);
        paint-order: stroke fill;
        letter-spacing: -2px;
        margin-top: 170px;
    }

    #drop1{
        font-family: "r41-alfabeta-16", sans-serif;
        font-weight: 400;
        letter-spacing: 15px;
    }

    #text{
        position: absolute;
        top: 300px;
        left: 30px;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        width: 85%;
    }

    #back{
        width: 7vw;
        position: fixed;
        left: 20px;
        top: 23px;
        z-index: 10000;
        transition: 0.25s ease-in-out;
    }

    #back:hover{
        width: 8vw;
        top: 21px;
        left: 19px;
    }

    p{
        text-indent: 50px;
        line-height: 120%;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: left;
    }

    h2{
        font-size: 40px;
        line-height: 120%;
        width: 100vw;
        -webkit-text-stroke: 0.5px black;
        letter-spacing: -2px;
    }

    #n1{
        color: #f6c4c3;
        margin-left: 0px;
    }

    #n2{
        color: #ed5c63;
        text-align: center;
        /* margin-left: 370px; */
    }

    #n3{
        color: #b51718;
        /* margin-left: 650px; */
    }

    #gif{
        width: 90vw;
        position: absolute;
        right: 40px;
        top: 1410px;
    }

    #cards{
        width: 90vw;
        position: absolute;
        right: -20px;
        top: 2000px;
    }

    #me{
        width: 50vw;
        position: absolute;
        right: 1280px;
        top: 2770px;
        padding-bottom: 80px;
    }

    #bio{
        position: absolute;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        width: 50vw;
        top: 2740px;
        left: 500px;
        margin-bottom: 1000px;
    }
}