@font-face {
    font-family: 'Cooper';
    src: url('fonts/Cooper.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Heuys';
    src: url('fonts/Heuys.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Whistler';
    src: url('fonts/Whistler.woff2') format('woff2');
}

html::-webkit-scrollbar {
  display: none;
}

  body {
    font-family: sans-serif;
    background: #111111;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
h2{
  font-family: "baskerville-bt", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
  line-height: 110%;
}

p{
  margin-bottom: 40px;
}

  .container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
  }
  
  #title {
    position: fixed;
    font-size: 90px;
    width: 100%;
    text-align: center;
    margin-block: 0px;
    top: 10px;
    left: 0px;
    font-family: industry-inc-bevel-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #003aaf;
    letter-spacing: -3px;
  }

  #title2 {
    position: fixed;
    font-size: 90px;
    width: 100%;
    text-align: center;
    margin-block: 0px;
    top: 10px;
    left: 0px;
    font-family: industry-inc-detail-fill, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    letter-spacing: -3px;
  }
  
  textarea {
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 120px;
    height: 84vh;
    font-size: 8rem;
    padding: 1rem;
    border: none;
    background: #111111;
    color: #fff;
    resize: vertical;
    transition: font-family 0.2s ease;
    text-align: center;
    line-height: 100%;
    outline: none;
    margin-bottom: 100px;
  }

  #shadow{
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 0px;
    height: 9vh;
    padding: 1rem;
    border: none;
    transition: 0.2s ease;
    outline: none;
    box-shadow: 0px 7px 15px 10px #111111;
    z-index: 9998;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
  
  ::placeholder {
    color: #ffffff;
  }

  .font-one {
    font-family: 'Cooper', serif;
  }
  
  .font-two {
    font-family: 'Heuys', serif;
  }
  
  .font-three {
    font-family: 'Whistler', sans-serif;
  }
  
  /* Hamburger Menu */
  .hamburger-menu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }
  
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    user-select: none;
    transition: 0.25s ease-in-out;
  }

  .menu-icon:hover {
    color: #003aaf;
  }
  
  #menu-toggle {
    display: none;
    transition: 0.25s ease-in-out;
  }
  
  .menu-content {
    display: none;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    position: absolute;
    left: -25px;
    top: 340px;
    font-size: 25px;
    transition: 0.25s ease-in-out;
  }
  
  #menu-toggle:checked + .menu-icon + .menu-content {
    display: flex;
    transition: 0.25s ease-in-out;
  }
  
  .menu-content select {
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
  }

input[type="range"] {
	font-size: 1.5rem;
	width: 15em;
}

input[type="range"] {
	--thumb-height: 1.125em;
  --thumb-width: 0.3em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"] {
		color: #003aaf;
		--track-color: rgba(255, 255, 255, 1);
	}

/* === range commons === */
input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	/* background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px); */
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));
	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

  .controls {
    position: fixed;
    flex-flow: row nowrap;
    justify-content: center;
    bottom: 5px;
    display: flex;
    gap: 10rem;
    margin-top: 1rem;
    color: #003aaf;
    width: 100vw;
    left: 200px;
  }
  
  .controls label {
    font-size: 1.5rem;
    font-family: "baskerville-bt", sans-serif;
    font-weight: 700;
    font-style: italic;
    /* -webkit-text-stroke: 0.5px white; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  
  .controls input[type="range"] {
    width: 100%;
  }

  #resetButton {
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    color: #003aaf;
    background-color: hwb(0 7% 93% / 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
    margin-left: 90px;
    font-family: "baskerville-bt", sans-serif;
    font-weight: 700;
    font-style: italic;
    transition: 0.25s ease-in-out;
    /* -webkit-text-stroke: 0.5px white; */
  }
  
  #resetButton:hover {
    color: white;
  }
  
  .font-option {
    padding: 0.5rem 1rem;
    /* background-color: #333; */
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    text-align: left;
    transition: 0.2s ease;
    font-family: "baskerville-bt", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .font-option:hover {
    color:#003aaf;
    text-decoration: underline 2px;
  }
  
  .font-option.active {
    color: #003aaf;
    text-decoration: underline 2px;
  }

  .afk {
    color: transparent;
    background: 
      repeating-radial-gradient(#161616 0 0.0001%, #ffffff 0 0.0002%) 30% 10% / 40vw 40vw,
      repeating-conic-gradient(#161616 0 0.0001%, #ffffff 0 0.0002%) 70% 70% / 60vw 60vw;
    background-blend-mode: difference;
    transition: all 10s ease;
  }

  #about{
    margin-top: 270px;
    text-decoration: none;
  }

  #records{
    text-decoration: none;
  }

  #about:hover{
    color: #003aaf;
    text-decoration: underline 2px;
  }

  #records:hover{
    color: #003aaf;
    text-decoration: underline 2px;
  }

  .sidebar-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: 0.25s ease-in-out;
    font-family: "baskerville-bt", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .sidebar-button:hover{
    color: #003aaf;
  }
  
img{
  border-radius: 0%;
  margin-top: -10px;
  margin-bottom: 0px;
}

  .sidebar {
    position: fixed;
    right: -310px;
    top: 0;
    width: 280px;
    height: 100%;
    background: #1a1a1a;
    color: #fff;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    font-family: "baskerville-no2", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16.5px;
  }
  
  .sidebar.open {
    right: 0;
  }  
  