@media all and (min-width: 601px) {
    html{
        cursor: url('sources/cursor2.png'), auto;
    }
    
    #whole{
        margin-left: 35%;
        margin-right: 35%;
        width: 30%;
        display: block;
    }

    pre{
        font-family: helvetica, sans-serif;
        font-size: 20px;
        line-height: 5%;
    }
}

@media all and (max-width: 600px) {
    html{
        cursor: url('sources/cursor2.png'), auto;
    }
}