@font-face{
    font-family: "PP Neue Montreal Medium";
    src: url('sources/PPNeueMontreal-Medium.woff2') format('woff2');
}

/* @font-face{
    font-family: "PP Neue Montreal Bold Italic";
    src: url('sources/PPNeueMontreal-BoldItalic.otf') format('otf');
} */

@media all and (min-width: 501px) {
    body{
        background-color: #fffbf5;
        margin: 0px
    }

    img{
        width: 60vw;
        margin-bottom: 50px;
    }

    h1{
        font-family: "PP Neue Montreal Medium";
        color: black;
        text-align: center;
        font-size: 116px;
        margin: 0px;
        letter-spacing: -2px;
        background-color: #fffbf5;
        position: fixed;
        z-index: 9999;
        width: 100vw;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    #back{
        width: 60px;
        position: fixed;
        left: 40px;
        top: 47px;
        z-index: 10000;
    }

    #back:hover{
        width: 70px;
        top: 43px;
        left: 37px;
    }

    #next{
        width: 60px;
        position: fixed;
        right: 40px;
        top: 47px;
        z-index: 9999;
    }

    #next:hover{
        width: 70px;
        top: 43px;
        right: 37px;
    }

    h2{
        font-family: "PP Neue Montreal Medium";
        font-size: 70px;
        font-style: italic;
        line-height: 90%;
        text-align: right;
        color: #fffbf5;
        -webkit-text-stroke: 6px black;
        paint-order: stroke fill;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    h3{
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 50px;
        text-align: left;
        margin-top: 0px;
    }

    #whole{
        display: flex;
        flex-flow: row nowrap;
        width: fit-content;
        margin: 0px;
        padding: 0px;
        display: absolute;
        top: 130px;
    }

    #images{
        background-color: #fffbf5;
        width: 67vw;
        margin: 0px;
        border-style: solid;
        border-width: 5px;
        border-color: #000000;
        border-left: none;
        border-right: none;
        margin-top: 144px;
        margin-left: 20px;
        border-top: none;
    }

    #text{
        background-color: #b51718;
        width: 33%;
        margin: 0px;
        margin-top: 144px;
        color: #fffbf5;
        font-size: 20px;
        padding-right: 60px;
        padding-left: 25px;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
        border-style: solid;
        border-width: 5px;
        border-color: #000000;
        border-right: none;
        border-top: none;
        text-align: justify;
    }

    #window{
        position: fixed;
        top: 150px;
        height: 45vw;
        width: 60vw;
        overflow: hidden;
        z-index: 9999;
        display: flex; /* Enable Flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .image{
        position: absolute; /* Stacks the images on top of each other */
        max-height: 100%; /* Stretch images to fit the container */
        max-width: 100%; /* Maintain aspect ratio */
        opacity: 0; /* Start with images hidden */
        transition: .5s ease-in-out; /* Smooth fade transition */
        margin: auto;
        transform-origin: center center;
        object-fit: contain;
        display: block;
    }
}

@media all and (max-width: 500px) {
    body{
        background-color: #fffbf5;
        margin: 0px;
        overflow-x: hidden;
    }

    h1{
        font-family: "PP Neue Montreal Medium";
        color: black;
        text-align: center;
        font-size: 59px;
        margin: 0px;
        background-color: #fffbf5;
        position: fixed;
        z-index: 9999;
        width: 100vw;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        top: 0px;
    }

    h2{
        font-family: clarendon-urw-extra-narrow, serif;
        font-weight: 800;
        font-style: italic;
        line-height: 90%;
        text-align: left;
        font-size: 75px;
        color: #fffbf5;
        -webkit-text-stroke: 7px black;
        paint-order: stroke fill;
        margin-top: 40px;
        margin-bottom: 0px;
        text-align: center;
    }

    .dropcap{
        font-family: "r41-alfabeta-16", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h3{
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 50px;
        text-align: center;
        margin-top: 20px;
    }

    #back{
        width: 7vw;
        position: fixed;
        left: 10px;
        top: 23px;
        z-index: 10000;
    }

    #back:hover{
        width: 8vw;
        top: 21px;
        left: 19px;
    }

    #next{
        width: 7vw;
        position: fixed;
        right: 10px;
        top: 23px;
        z-index: 9999;
    }

    #next:hover{
        width: 8vw;
        top: 21px;
        right: 19px;
    }

    #whole{
        display: flex;
        flex-flow: row wrap;
        margin: 0px;
        padding: 0px;
        position: absolute;
    }

    #text{
        background-color: #b51718;
        color: #fffbf5;
        margin-top: 100px;
        margin: 0px;
        font-size: 20px;
        padding-right: 60px;
        padding-left: 25px;
        font-family: clarendon-urw, serif;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
        text-align: left;
        top: 72px;
        position: absolute;
        width: 85vw;
    }

    p{
        line-height: 130%;
        margin-top: 350px;
    }

    #images{
        background-color: #fffbf5;
        margin: 0px;
    }

    img{
        width: 68vw;
    }
}