@media all and (min-width: 601px) {
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    h1{
        font-family: Helvetica, sans-serif;
        font-size: 110px;
        margin: 15px;
        letter-spacing: 0.1px;
        line-height: 80%;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        color: black;
        margin: 15px;
        text-decoration: none;
        font-weight: 700;
    }

    a:hover{
        color: blue;
        text-decoration: underline;
    }

    .gallery {
        display: flex;
        flex-flow: row wrap;
        margin: 0px;
        width: 100%;
    }

    .gallery img {
        height: 32vw;
        margin: 0px;
    }
}

@media all and (max-width: 600px) {
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    h1{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        margin: 15px;
        line-height: 80%;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 30px;
        color: black;
        margin: 15px;
        text-decoration: none;
        font-weight: 700;
    }
}