@media all and (min-width: 1621px) {
    html{
        cursor: url('sources/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: fixed;
        top: 0px;
        mix-blend-mode: difference;
        color: #000000;
        z-index: 15000;
        transition: color 0.25s ease;
    }

    .color-change {
        color: #00f2ff !important; /* Change to desired color */
        z-index: 15000;
    }

    h1{
        font-family: Helvetica, sans-serif;
        font-size: 110px;
        margin: 15px;
        letter-spacing: 0.1px;
        line-height: 80%;
        color: inherit;
        transition: color 0.3s ease;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        margin: 15px;
        text-decoration: none;
        font-weight: 700;
        color: black;
        transition: color 0.25s ease;
    }

    coloredElement:visited {
        color: #000000;
    }

    a:hover{
        color: blue;
        text-decoration: underline;
    }

    .gallery {
        display: flex;
        flex-flow: row wrap;
        margin-top: 110px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        cursor: url('sources/cursor2.png'), auto;
    }

    .gallery img {
        margin: 0px;
        cursor: url('sources/cursor2.png'), auto;
        z-index: 1;
    }

    img:hover{
        mix-blend-mode: none;
        transition: 0.5s;
    }

    .row1{
        height: 32.115vw;
    }

    .row2{
        height: 33.295vw;
    }

    .row3{
        height: 32.5vw;
    }

    .row4{
        height: 33.795vw;
    }

    .row5{
        height: 35.08vw;
    }

    .row6{
        height: 33.65vw;
    }

    .row7{
        height: 24.75vw;
    }

    .row8{
        height: 29.27vw;
    }

    .row9{
        height: 36.64vw;
    }

    .row10{
        height: 30.52vw;
    }

    .row11{
        height: 35.33vw;
    }

    .row12{
        height: 34.73vw;
    }

    .row13{
        height: 41.7vw;
    }

    .row14{
        height: 41.63vw;
    }

    .row15{
        height: 32.3vw;
    }

    .row16{
        height: 35.43vw;
    }

    .row17{
        height: 43.22vw;
    }

    .row18{
        height: 26.39vw;
    }

    .row19{
        height: 52.8vw;
    }

    .imagea{
        color: #ff3cbe;
    }
    
    .image.active {
        width: 100vw;
        height: auto;
        top: 110px;
        left: 0;
        z-index: 999;
        object-fit: cover;
        overflow: scroll;
        cursor: url('sources/cursor2.png'), auto;
    }

    .image-caption {
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 7px;
        color: #000000;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        z-index: 1000;
        width: 100vw;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
    }

    .overlay{
        mix-blend-mode: difference;
        z-index: 0px;
    }
}

@media all and (min-width: 1110px) and (max-width: 1620px) {
    html{
        cursor: url('sources/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: fixed;
        top: 0px;
        mix-blend-mode: difference;
        color: #000000;
        z-index: 15000;
        transition: color 0.25s ease;
    }

    .color-change {
        color: #00f2ff !important; /* Change to desired color */
        z-index: 15000;
    }

    h1{
        font-family: Helvetica, sans-serif;
        font-size: 110px;
        margin: 15px;
        letter-spacing: 0.1px;
        line-height: 80%;
        color: inherit;
        transition: color 0.3s ease;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        margin: 15px;
        text-decoration: none;
        font-weight: 700;
        color: black;
        transition: color 0.25s ease;
    }

    coloredElement:visited {
        color: #000000;
    }

    a:hover{
        color: blue;
        text-decoration: underline;
    }

    .gallery {
        display: flex;
        flex-flow: row wrap;
        margin-top: 200px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        cursor: url('sources/cursor2.png'), auto;
    }

    .gallery img {
        margin: 0px;
        cursor: url('sources/cursor2.png'), auto;
    }

    .row1{
        height: 32.115vw;
    }

    .row2{
        height: 33.295vw;
    }

    .row3{
        height: 32.5vw;
    }

    .row4{
        height: 33.795vw;
    }

    .row5{
        height: 35.08vw;
    }

    .row6{
        height: 33.65vw;
    }

    .row7{
        height: 24.75vw;
    }

    .row8{
        height: 29.27vw;
    }

    .row9{
        height: 36.64vw;
    }

    .row10{
        height: 30.52vw;
    }

    .row11{
        height: 35.33vw;
    }

    .row12{
        height: 34.73vw;
    }

    .row13{
        height: 41.7vw;
    }

    .row14{
        height: 41.63vw;
    }

    .row15{
        height: 32.3vw;
    }

    .row16{
        height: 35.43vw;
    }

    .row17{
        height: 43.22vw;
    }

    .row18{
        height: 26.39vw;
    }

    .row19{
        height: 52.8vw;
    }

    /* #fullpage {
        display: none;
        position: absolute;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat no-repeat;
        background-position: top center;
        background-color: #000000;
        transition: 0.25s ease-in-out;
        overflow-y: scroll;
    } */

    /* .imagetop{
        display: flex; */
        /* justify-content: space-between; */
        /* align-items: baseline;
        position: fixed;
        top: 0px;
        mix-blend-mode: difference;
        color: #ff3cbe;
        z-index: 9999;
    } */

    .imagea{
        color: #ff3cbe;
    }

    /* .caption{
        z-index: 10000;
        position: fixed;
        bottom: -60px;
        font-family: helvetica, sans-serif;
        display: none;
        mix-blend-mode: difference;
    } */

    /* .toggleOn{
        width: 100vw;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 9998;
        display: block;
        mix-blend-mode: none;
    } */

    /* .hidden{
        opacity: 0;
    } */


    /* .caption{
        display: block;
        position: absolute;
        left: 50px;
        top: 500px;
        z-index: 11000;
        color: #ff0000;
        font-family: Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin: 0px;
    } */
    
    .image.active {
        width: 100vw;
        height: auto;
        top: 200px;
        left: 0;
        z-index: 999;
        object-fit: cover;
        overflow: scroll;
        cursor: url('sources/cursor2.png'), auto;
    }

    .image-caption {
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        color: #000000;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        z-index: 1000;
        width: 100vw;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
    }
}

@media all and (max-width: 1109px) {
    html{
        cursor: url('sources/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: fixed;
        top: 0px;
        mix-blend-mode: difference;
        color: black;
        z-index: 9999px;
        transition: color 0.25s ease;
        z-index: 9997;
    }

    .color-change {
        color: #ff0077 !important; /* Change to desired color */
        transition: 0.25s ease;
    }

    h1{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        margin: 15px;
        line-height: 80%;
        width: 40%;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 30px;
        color: black;
        margin: 15px;
        text-decoration: none;
        font-weight: 700;
    }

    a:hover{
        color: blue;
        text-decoration: underline;
    }

    .gallery{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        cursor: url('sources/cursor2.png'), auto;
    }

    .gallery img {
        margin: 0px;
        cursor: pointer;
        width: 100%;
        height: auto;
        flex-flow: column wrap;
    }

    .image{
        width: 100%;
        height: auto;
        margin: 0px;
    }

    #fullpage {
        display: none;
        position: absolute;
        z-index: 9998;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat no-repeat;
        background-position: center 50%;
        background-color: #000000;
        transition: 0.25s ease-in-out;
        overflow-y: scroll;
    }

    .imagetop{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: fixed;
        top: 0px;
        mix-blend-mode: difference;
        color: #83ff3c;
        z-index: 9999;
    }

    .image.active {
        width: 100vw;
        height: auto;
        top: 200px;
        left: 0;
        z-index: 999;
        object-fit: cover;
        overflow: scroll;
        cursor: url('sources/cursor2.png'), auto;
    }

    .image-caption {
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        color: #000000;
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
        z-index: 1000;
        width: 100vw;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
    }
}