.top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0px;
    mix-blend-mode: difference;
    color: black;
    z-index: 9999px;
    transition: color 0.25s ease;
    z-index: 9997;
}

#jacobs {
    width: 50vw;
    height: auto;
}

#paper {
    width: 50vw;
    height: auto;
}