@media all and (min-width: 801px){
    body{
        background-color: #fff6eb;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 20px;
        width: fit-content;
        cursor: url('media/cursor.png'), auto;
        width: fit-content;
        height: auto;
    }

    h1{
        font-family: "filmotype-yale";
        font-weight: 400;
        font-style: normal;
        font-size: 75px;
        text-align: left;
        padding: 40px;
        color: pink;
        -webkit-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
        transform: rotate(350deg);
        line-height: 80%;
    }

    .whole{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; 
        margin-top: 20px;
        top: 5%;
    }

    .title{
        width: 30%;
        height: fit-content;
    }
   
    .page{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-end;
        height: 20%;
    }
    
   video{
        height: 670px;
        width: auto;
        align-items: center;

    }

    .videocontainer:hover .overlay {
        display:block;
        opacity: 0.75;
        transition: 0.5s ease-in-out;
    }

    .videocontainer:hover{
        filter: grayscale(0%);
        transition: .5s ease-in-out;
    }

    .videocontainer{
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        filter: grayscale(100%);
    }

    .overlay{
        background-color: black;
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text{
        font-family: "futura-pt";
        font-size: 30px;
        font-weight: 600;
        font-style: normal;        
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: justify;
        width: 600px;
    }

    .back{
        text-align: center;
        display: block;
        width: 7%;
        margin-right: 50px;
        font-family: "league-gothic";
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        letter-spacing: 2.5px;
        color: #000000;
        text-decoration: none;
        text-align: center;
        -webkit-transform: translate(-10%, -600%);
        transform: translate(-10%, -600%);
        cursor: url('media/cursor.png'), auto;
    }

    .back:hover {
        text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
        transition: 0.5s ease;
    }
}

@media all and (max-width: 800px){
    body{
        background-color: #ffdae0;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 20px;
        width: fit-content;
        cursor: url('media/cursor.png'), auto;
        height: auto;
    }

    h1{
        font-family: "filmotype-yale";
        font-weight: 400;
        font-style: normal;
        text-align: left;
        font-size: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: white;
        -webkit-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
        transform: rotate(350deg);
    }

    .whole{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        width: 100%;
        padding-top: 5px;
        margin-left: 2%;
        margin-right: 50%;
    }

    .title{
        width: fit-content;
        height: 75%;
    }
   
    .page{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    
    video{
        height: auto;
        width: 980%;
        align-items: center;
        /* transform: scale(50%);
        -webkit-transform: scale(50%);
        -ms-transform: scale(50%); */
    }

    .videocontainer{
        width: 10%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .overlay{
        width: 100%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        text-align: center;
        align-items: baseline;
    }

    .text{
        font-family: "futura-pt";
        font-size: 20px;
        font-weight: 600;
        font-style: normal;        
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        text-align: justify;
        width: 700%;
    }

    #pink{
        color: pink;
    }
    
    #red{
        color: #ff3333;
    }

    #blue{
        color: #2891d7;
    }
    
    #green{
        color: #dbff80;
    }

    .back{
        text-align: center;
        display: block;
        margin-left: 50%;
        margin-right: 50%;
        width: 7%;
        padding-left: 0px;
        font-family: "league-gothic";
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        letter-spacing: 2.5px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        -webkit-transform: translate(5500%, 0%);
        transform: translate(5500%, 0%);
        text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
        float: left;
        cursor: url('media/cursor.png'), auto;
    }
}