body{
    background: #111111;
    color: white;
}

h1{
    font-family: industry-inc-bevel-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    margin-left: 60px;
    color: #003aaf;
    margin-top: 100px;
    margin-bottom: 30px;
}

h4{
    font-family: "baskerville-no2", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 22px;
    width: 30vw;
    margin-left: 50px;
    margin-top: 0px;
    margin-left: 60px;
}

img{
    position: absolute;
    height: 90vw;
    right: 0px;
    top: 0px;
}

a{
    font-family: "baskerville-bt", sans-serif;
  font-weight: 700;
  font-style: italic;
    font-size: 25px;
    position: absolute;
    top: 32px;
    left: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a:hover{
    color: #003aaf;
    text-decoration: underline 2px;
  }

