@font-face{
    font-family: "OffBit";
    src: url('sources/offbit-dot-bold-webfont-full/webfonts/offbit-dot-bold.woff2') format('woff2');
}

body{
    background-image: url("sources/shelves.png");
    background-position: 50% 15%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: "OffBit", sans-serif;
    overflow-y: hidden;
}

.folioBg{
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: 2;
    position: fixed;
    top: 0px;
}

.folioMarquee{
    width: 200vw;
    height: 7%;
    display: block;
    color: rgb(184, 0, 0);
    z-index: 9999;
    --gap: 1rem;
    position: fixed;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    top: 0px;
    animation: marquee 10s linear infinite;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    paint-order: stroke fill;
}

span{
    font-size: 50px;
    margin-top: 9px;
}

#deli{
    width: 100vw;
}

#title{
    height: 80vh;
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 10000;
}

#all{
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    width: 250vw;
}

p{
    font-family: arial narrow, helvetica, sans-serif;
    font-size: 16px;
    width: 400px;
    text-align: justify;
    line-height: 120%;
}

#hiJake{
    position: absolute;
    top: 100px;
    left: 1800px;
}

#dearCurious{
    position: absolute;
    top: 100px;
    left: 2350px;
    color: rgb(184, 0, 0);
}

#dearCurious2{
    position: absolute;
    top: 100px;
    left: 2850px;
    color: rgb(184, 0, 0);
}

#dearCurious3{
    position: absolute;
    top: 100px;
    left: 3350px;
    color: rgb(184, 0, 0);
}

.emph{
    font-size: 25px;
    font-family: Cooper-Black-std, serif;
    font-weight: 400;
    font-style: italic;
}

#endImg{
    height: 100vh;
    position: absolute;
    right: -3000px;
    top: 50px;
}

.navBg{
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: 2;
    position: fixed;
    bottom: 0px;
}

.navMarquee{
    width: 200vw;
    height: 7%;
    display: block;
    color: white;
    z-index: 9999;
    --gap: 1rem;
    position: fixed;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    bottom: 0px;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-45vw); }
}
