@font-face{
    font-family: "OffBit";
    src: url('sources/offbit-dot-bold-webfont-full/webfonts/offbit-dot-bold.woff2') format('woff2');
}

body{
    background-image: url("sources/shelves.png");
    background-color: rgb(255, 255, 255);
    background-position: 50% 15%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: "OffBit", sans-serif;
    overflow-x: hidden;
}

img{
    width: 15vw;
}

#sam{
    left: 350px;
    top: 382px;
    position: absolute;
    z-index: 3;
}

#d396{
    left: 50px;
    top: 800px;
    position: absolute;
}

#ahmed{
    left: 200px;
    top: 1400px;
    position: absolute;
}

#bueno{
    top: 20px;
    position: absolute;
    z-index: 3;
}

#manayeyo{
    right: 30px;
    top: 500px;
    position: absolute;
    z-index: 3;
}

#aguila{
    right: 220px;
    top: 1200px;
    position: absolute;
}

span{
    font-size: 50px;
    margin-top: 9px;
}

.folioBg{
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: 9998;
    position: fixed;
    top: 0px;
}

.folioMarquee{
    width: 200vw;
    height: 7%;
    display: block;
    color: #2b42ba;
    z-index: 9999;
    --gap: 1rem;
    position: fixed;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    top: 0px;
    animation: marquee 10s linear infinite;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    paint-order: stroke fill;
}

#love{
    width: 101.5vw;
    position: absolute;
    top: -790px;
    z-index: 1;
}

#theDeath{
    width: 103.5vw;
    position: absolute;
    top: 7px;
    left: -7px;
    z-index: 10000;
}

#jane{
    width: 8vw;
    position: absolute;
    top: 700px;
    left: 666px;
    z-index: 10000;
}

#greatAmerican{
    width: 102vw;
    position: absolute;
    top: 640px;
    left: 0px;
    z-index: 10000;
}

.outer{
    display: flex;
    flex-flow: row nowrap;
    height: 200vh;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
    top: 1200px;
}

p{
    font-size: 18px;
    text-align: justify;
    line-height: 125%;
    text-indent: 20px;
    color: #2b42ba;
    width: 26vw;
    font-family: arial narrow, helvetica, sans-serif;
}

#pull1{
    font-family: "brush-script-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    line-height: 70%;
    text-align: left;
}

.textColumn{
    z-index: 9999;
}

#imgColumn1{
    width: 35%;
    height: 100vh;
    text-align: justify right;
    z-index: 9999;
}

#imgColumn2{
    width: 35%;
    height: 100vh;
    text-align: justify left;
    z-index: 9999;
}

.navBg{
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: 9998;
    position: fixed;
    bottom: 0px;
}

.navMarquee{
    width: 200vw;
    height: 7%;
    display: block;
    color: white;
    z-index: 10001;
    --gap: 1rem;
    position: fixed;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    bottom: 0px;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-45vw); }
}
