@media all and (min-width: 601px) {
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .back{
        font-family: Helvetica, sans-serif;
        font-size: 110px;
        margin: 15px;
        letter-spacing: 0.1px;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }

    p{
        font-family: helvetica, sans-serif;
        color: black;
        font-size: 30px;
        margin: 30px;
        width: 50%;
    }

    a{
        font-family: helvetica, sans-serif;
        color: black;
        font-size: 30px;
        margin: 30px;
    }
}

@media all and (max-width: 600px) {
    html{
        cursor: url('imgs/cursor2.png'), auto;
    }
    
    body{
        margin: 0px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    a{
        font-family: Helvetica, sans-serif;
        font-size: 50px;
        margin: 15px;
    }
}