
body {
    background-color:  black;
    color:  white;
    font-family: arial;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-weight:  normal;
  }
  
  .button {
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
    color: black;
    font-size: 36px;
  }
  
  .button:hover {
    opacity: .8;
    cursor: pointer;
    transition: 90ms ease;
  }