@font-face {
    font-family: 'Cooper';
    src: url('fonts/Cooper.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Heuys';
    src: url('fonts/Heuys.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Whistler';
    src: url('fonts/Whistler.woff2') format('woff2');
  }

  body {
    font-family: sans-serif;
    background: #111111;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
  }
  
  #title {
    position: fixed;
    font-size: 100px;
    width: 100%;
    text-align: center;
    margin-block: 0px;
    top: 30px;
    left: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: #888888;
    letter-spacing: -3px;
  }
  
  textarea {
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 150px;
    height: 78vh;
    font-size: 8rem;
    padding: 1rem;
    border: none;
    background: #111111;
    color: #fff;
    resize: vertical;
    transition: font-family 0.2s ease;
    text-align: center;
    line-height: 100%;
    outline: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
  
  ::placeholder {
    color: #ffffff;
  }

  .font-one {
    font-family: 'Cooper', serif;
  }
  
  .font-two {
    font-family: 'Heuys', serif;
  }
  
  .font-three {
    font-family: 'Whistler', sans-serif;
  }
  
  /* Hamburger Menu */
  .hamburger-menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }
  
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    user-select: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-content {
    display: none;
    flex-direction: column;
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
  }
  
  #menu-toggle:checked + .menu-icon + .menu-content {
    display: flex;
  }
  
  .menu-content select {
    margin-top: 0.5rem;
    padding: 0.4rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
  }

  .controls {
    position: fixed;
    flex-flow: row nowrap;
    justify-content: center;
    bottom: 20px;
    display: flex;
    gap: 10rem;
    margin-top: 1rem;
    color: #eee;
    width: 100vw;
    left: 0px;
  }
  
  .controls label {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  
  .controls input[type="range"] {
    width: 100%;
  }

  #resetButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: hwb(0 7% 93% / 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  #resetButton:hover {
    background-color: #666;
  }
  
  