@media all and (min-width: 801px){
  body {
      background-color:  #ffffff;
      height: fit-content;
      color: black;
      font-family: "lores-12-narrow", sans-serif;
      font-weight: 400;
      font-style: normal;
      transition: 90ms ease;
      cursor: url('imgs/cursor.png'), auto;
    }

  .title{
    margin-bottom: 150px;
  }
  
    h1{
    color: #004021;
    text-align: center;
    font-size: 50px;
    font-family: "lores-9-wide", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
    
  .whole {
      display:  flex;
      flex-direction:  row;
      justify-content: space-around;
      align-items:  center;
      height: 70%;
    }

  img{
      width: 100%;
      padding-bottom: 50px;
    }

.wrapperred{
  width: 30%;
  color: #ffffff;
  text-align: justify;
}

.wrapperblue{
  width: 30%;
  color: #ffffff;
  text-align: justify;
}

.redlight {
      background-color: #ff0000;
    }

.bluelight {
      background-color: #0022e4;
    }
    
.back{
      text-align: center;
      display: block;
      font-family: "league-gothic";
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      letter-spacing: 2.5px;
      color: #000000;
      text-decoration: none;
      padding-bottom: 15px;
      -webkit-transform: translate(0px, 150px);
      transform: translate(0px, 150px);
      cursor: url('imgs/cursor.png'), auto;
  }

.back:hover {
      text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
      transition: 90ms ease;
  }
}

@media all and (max-width: 800px){
  body {
    background-color:  #ffffff;
    height: fit-content;
    font-family: "lores-12-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: url('imgs/cursor.png'), auto;
  }

h1{
  color: #004021;
  text-align: center;
  font-size: 40px;
  font-family: "lores-9-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 50px;
}

.title{
  align-content: center;
}

.whole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  }

.wrapperred{
    width: 50%;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 40px;
}
  
.wrapperblue{
    width: 50%;
    color: #ffffff;
    text-align: justify;
}

img{
  width: 100%;
  margin-bottom: 25px;
  }
  
.redlight {
    background-color: #ff0000;
    opacity: 1;
    transition: 0.25s ease;
  }

.bluelight {
    background-color: #0022e4;
    opacity: 1;
    transition: 0.25s ease;
  }

.back{
  text-align: center;
  display: block;
  font-family: "league-gothic";
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2.5px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 15px;
  -webkit-transform: translate(0px, 150px);
  transform: translate(0px, 150px);
  text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
  cursor: url('imgs/cursor.png'), auto;
}
}