@media all and (min-width: 801px){
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    color: black;
    overflow: hidden;
    background-image: url(imgs/Vector.jpg);
    background-size: fixed, 102%;
    background-position: left absolute;
}

h1{
    font-family: "sarina";
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
    text-align: center;
    margin: 38px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #00c455,
    0 0 20px #00c455,
    0 0 30px #0087b0,
    0 0 40px #0087b0,
    0 0 50px #00b0e6,
    0 0 55px #00b0e6;
}

.about{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    padding-left: 0px;
}

.about:hover {
    text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
    transition: 0.5s ease;
}

.marquee {
    font-family: "sarina";
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    color: #ff972f;
    padding: 0px;
    width: 100%;
    height: fit-content;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.page{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 90px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}

.movie{
    width: 33%;
    height: 63px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

a{
    font-family: "league-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2.5px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.fight:hover {
    color: #ffdef4;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #ff78d2,
    0 0 10px #ff60ca,
    0 0 15px #ff3cbe,
    0 0 20px #ff1fb4;
}

.french:hover {
    color: #fffcee;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #ffeaaf,
    0 0 10px #ffd76a,
    0 0 15px #ffc831,
    0 0 20px #ffbb00;

}

.window:hover {
    color: #e4ffff;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #89fdff,
    0 0 10px #36fcff,
    0 0 15px #00e2e6,
    0 0 20px #00bec1;
}

.suspiria:hover {
    color: #f8d6ff;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #ef9eff,
    0 0 10px #e252ff,
    0 0 15px #d400ff,
    0 0 20px #ad00d0;
}

.odyssey:hover {
    color: #e8e8ff;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #4141e8,
    0 0 10px #0d0dcf,
    0 0 15px navy,
    0 0 20px #000061;
}

.hunter{
    text-align: left;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
}

.hunter:hover {
    color: #ededed;
    transition: 90ms ease;    
    text-shadow:
    0 0 5px #9e9e9e,
    0 0 10px #7c7c7c,
    0 0 15px #525252,
    0 0 20px #313131;
}

.antoinette{
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
}

.antoinette:hover {
    color: #fff6ff;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #ffdbfe,
    0 0 10px #ffcffd,
    0 0 15px #ffaefc,
    0 0 20px #ff83fb;
}

.interstellar:hover {
    color: #ede4ff;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #884df5,
    0 0 10px #5f1ed6,
    0 0 15px #3b03a2,
    0 0 20px #220060;
}

.matrix:hover {
    color: #cdffeb;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #1ff29e,
    0 0 10px #19ab70,
    0 0 15px #00643c,
    0 0 20px #003d25;
}

.conclusion:hover {
    color: #ececec;
    transition: 90ms ease;
    text-shadow:
    0 0 5px #a3a3a3,
    0 0 10px #797979,
    0 0 15px #3b3b3b,
    0 0 20px #1d1d1d;
}
}


@media all and (max-width: 800px){
    body{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        color: #ffffff;
        overflow: hidden;
        background-image: url(imgs/narrow.jpg);
        background-size: 100% 132.5%;
        height: fit-content;
    }
    
    h1{
        font-family: "sarina";
        font-weight: 400;
        font-style: normal;
        font-size: 55px;
        text-align: center;
        text-shadow: #00c455 10px 0px,#00b0e6 20px 0px;
        margin: 38px;
    }
    
    .about{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 7%;
        padding-left: 0px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    
    .about:hover {
        text-shadow: #ff8000 5px 2px,#00c455 10px 4px,#00b0e6 15px 6px;
        transition: 0.5s ease;
    }
    
    .marquee {
        font-family: "sarina";
        font-weight: 400;
        font-style: normal;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        background: #091b3c;
        color: #ff8000;
        padding: 0px;
        width: 100%;
        height: fit-content;
    }
    
    .marquee span {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 8s linear infinite;
    }
    
    @keyframes marquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }
    
    .page{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        margin: 10px;
        transform: translateY(40px);
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
    }
    
    .movie{
        width: 80%;
        height: 48px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    a{
        font-family: "league-gothic", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        letter-spacing: 2.5px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 50%;
    }
    
    .fight{
        color: #ff6ecf;
        text-shadow: white 3px 2px;
    }
    
    .french{
        color: #00e2e6;
        text-shadow: white 3px 2px;
    }
    
    .window{
        color: #1836ae;
        text-shadow: white 3px 2px;
    }
    
    .suspiria{
        color: #d400ff;
        text-shadow: white 3px 2px;
    }
    
    .odyssey{
        color: #000000;
        text-shadow: white 3px 2px;
    }

    .hunter{
        color: grey;
        text-shadow: white 3px 2px;
    }

    .antoinette{
        color: pink;
        text-shadow: #ffffff 3px 2px;
    }

    .interstellar{
        color: #2f0087;
        text-shadow: #ffffff 3px 2px;
    }

    .matrix{
        color: #00643c;
        text-shadow: #ffffff 3px 2px;
    }

    .conclusion{
        color: #3b3b3b;
        text-shadow: #ffffff 3px 2px;
    }
}